<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Server.IServerWCF">
                <endpoint address="" binding="basicHttpBinding" contract="Server.IIServerWCF">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Server/IServerWCF/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Server.Srv">
                <endpoint address="" binding="basicHttpBinding" contract="Server.ISrv">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Server/Server/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICA" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICA" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://0.0.0.0:45000/CA.CA" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICA" contract="CAService.ICA"
                name="BasicHttpBinding_ICA" />
            <endpoint address="net.tcp://0.0.0.0:45001/CA.CA" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICA" contract="CAService.ICA"
                name="NetTcpBinding_ICA">
                <identity>
                    <servicePrincipalName value="host/Machine" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>