<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAManager.Properties.Settings.myFWConnectionString"
            connectionString="Data Source=MACHINE;Initial Catalog=myFW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>